@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300;1,400&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
}
/* .block_card{
  width: 100%;
  display: flex;
  justify-content: space-around;
} */
.spiner_block{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  width: 98%;
  margin-left: 6px;
}
.cardCol{
  margin-top: 20px;
}
/* .card_content{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOQAAADdCAMAAACc/C7aAAAAOVBMVEX///9dXV1XXl6nRUWhR0dfXFxLS0syMjLIyMggICBbXV1wWFipRESjRkarQ0M6OjpYWFhTU1MtLS3DJGRNAAABXUlEQVR4nO3PSXLCUBAFQZDxgBgM3P+wvoCIkDa265O17OjFy93+Bdr99YDfCHKUIEcJcpQgRwlylCBHCXKUXhk5ZZtXI6dDtctpQfkEeZ3fm83naTXybeE10eLy58jvz163jcj7167XYyPyo4g8QkJ2goQMBQkZChIyFCRkKEjIUJCQoSAhQ0FChoKEDAUJGQoSMhQkZChIyFCQkKEgIUNBQoaChAwFCRkKEjIUJGQoSMhQkJChICFDQUKGgoQMBQkZChIyFCRkKEjIUJCQoSAhQ0FChoKEDAUJGQoSMhQkZChIyFCQkKEgIUNBQoaChAwFCRkKEjIUJGQoSMhQkJChICFDQUKGgoQMBQkZChIyFCRkKEjIUJCQoSAhQ0FChoKEDAUJGQpyAXl7HHvdNyIX7/+/LchrFnlejzxUu5zmtcj9lG3B+Aw5VpCjBDlKkKMEOUqQowQ5Si+B/AGIV240S1hLzgAAAABJRU5ErkJggg==');
  background-position: center;
  background-size: cover;
  padding: 30px;
} */

.All_cards{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.imgCards img{
  width: 400px;
  height: 340px;
  border-radius: 10px;
}
.imgCards{
  margin-right: 20px;
}
.rowRan{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.imgError{
  width: 100%;
  height: 100vh;
}
.block_card{
  display: flex;
  justify-content: center;
  align-items: center;
}