@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300;1,400&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
 
}
.spiner_block{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.title_main_card{
  color: rgb(43, 39, 39);
  font-weight: 600;
  text-shadow: 0px 0px 2px rgb(146, 142, 142);
}
.nav_text{
  color: white !important;
}
.tex{
  margin: 10px;
}
.card_main{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px black !important;
  background-image: url('https://i.pinimg.com/originals/ed/e2/f4/ede2f4e97e98907c510f1356af8835a6.jpg') !important;
  background-size: cover;
  background-position: center;
}
.cardCol{
  margin-top: 20px;
}


.All_cards{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.imgCards img{
  width: 400px;
  height: 340px;
  border-radius: 10px;
}

.imgCards{
  margin-right: 20px;
}

.rowRan{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.imgError{
  width: 100%;
  height: 91vh;
}

.block_card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_bin{
  width: 40px;
  height: 40px;
}

.img_bin:hover{
  cursor: pointer;
}

.block_Search{
  width: 98%;
}
.card_categorii{
  border: none;
  overflow: hidden;
  margin-top: 15px; 
}
.card_content{
  transition: 0.5s;
}
.card_content:hover{
  transform: scale(1.02);
  transition: 0.5s;
}
.card_main{
  background-color: cornsilk;
}
.block_bin{
  display: flex;
  justify-content: space-around;

}
.bin_error_text {
  width: 100%;
  height: 91vh;
  background-image: url('https://static.wikia.nocookie.net/undertale/images/e/eb/IMG_0150.JPG/revision/latest/scale-to-width-down/250?cb=20170821183933&path-prefix=ru');
  background-position: center;
  background-size: cover;
}
.text_errpr h1{
  color: red !important;
}
.card_name_bin{
  width: 100%;
}